{% extends 'base.html.twig' %}

{% block title %}Forum associatif - Pôle Universitaire Léonard de Vinci{% endblock %}

{% block body %}

<div class="a-degager">
    <h1>les trucs de nico</h1>
    <h1>ICI ACCUEIL</h1>

    <a href="categories/informatique">Informatique</a>
    <a href="categories/sport">Sport</a>
    <a href="categories/musique">Musique</a>
</div>
<main class="home" id="home">
    <header>
        <div class="home-header-content">
            <div class="home-header-content-logo">
                <img src="{{ asset('build/images/logos/logo-devinci.png') }}" alt="Logo Devinci">
                <img src="{{ asset('build/images/logos/logo-emlv.png') }}" alt="Logo EMLV">
                <img src="{{ asset('build/images/logos/logo-esilv.png') }}" alt="Logo ESILV">
                <img src="{{ asset('build/images/logos/logo-iim.png') }}" alt="Logo IIM">
            </div>
            <div class="home-header-content-title">
                <h1>
                    Les associations étudiantes<br>
                    <span>du <span class="color-secondary bold">pôle Léonard de Vinci</span></span>
                </h1>
            </div>

                <a href="#" class="button-link"><i class="fab fa-discord"></i>Rejoindre le discord</a>

        </div>
        <div class="home-header-image">
                <img src="{{ asset('build/images/home-header.png') }}" alt="Associations pôle universitaire Léonard de Vinci">
        </div>
    </header>
</main>

{% endblock %}
