{% extends 'base.html.twig' %}

{% block title %}Forum associatif - Pôle Universitaire Léonard de Vinci{% endblock %}

{% block body %}
<main class="home" id="home">
    <header>
        <div class="home-header-content">
            <div class="home-header-content-logo">
                <img src="{{ asset('build/images/logos/logo-devinci.png') }}" alt="Logo Devinci">
                <img src="{{ asset('build/images/logos/logo-emlv.png') }}" alt="Logo EMLV">
                <img src="{{ asset('build/images/logos/logo-esilv.png') }}" alt="Logo ESILV">
                <img src="{{ asset('build/images/logos/logo-iim.png') }}" alt="Logo IIM">
            </div>
            <div class="home-header-content-title">
                <h1>
                    Les associations étudiantes<br>
                    <span>du <span class="color-secondary bold">pôle Léonard de Vinci</span></span>
                </h1>
            </div>

                <a href="#" class="button-link"><i class="fab fa-discord"></i>Rejoindre le discord</a>

        </div>
        <div class="home-header-image">
                <img src="{{ asset('build/images/home-header.png') }}" alt="Associations pôle universitaire Léonard de Vinci">
        </div>
    </header>
    <section class="home-theme">
        <h2>Des associations aux <span class="color-secondary">thématiques variées</span></h2>
        <p class="subtitle">Par passion, par curiosité, une catégorie te correspond forcément&nbsp;!</p>
        {% include 'layouts/cat-blocs.html.twig' %}
    </section>
    {% embed "components/cta-banner__cover.html.twig" with {'external': true} %}
        {% block icone %}<i class="fab fa-discord"></i>{% endblock %}
        {% block title %}Toute la journée{% endblock %}
        {% block text %}Viens discuter avec les membres des associations sur Discord !{% endblock %}
        {% block url %}discord.gg/X77ztWs{% endblock %}
        {% block urltext %}discord.gg/X77ztWs{% endblock %}
    {% endembed %}
    <section class="home-about">
        <div class="home-about__content">
            <div class="home-about__content-number">
                <p>7500</p>
                <p>étudiants</p>
            </div>
            <div class="home-about__content-text">
                <p>Le pôle Léonard de Vinci est composé de 3 écoles (ESILV, EMLV et IIM) et regroupe plus de 7 500 étudiants ! Cependant, comment rencontrer toutes ces personnes ? C’est là qu’intervient le merveilleux principe de la transversalité : semaines transverses, sport obligatoire, et on y vient, le meilleur… les associations !</p>
            </div>
        </div>
        <div class="home-about__content">
            <div class="home-about__content-number">
                <p>58</p>
                <p>associations</p>
            </div>
            <div class="home-about__content-text">
                <p>Les associations, c’est le meilleur moyen pour faire des rencontres et nouer de belles amitiés ! Actuellement, le Pôle compte 58 associations aux domaines variés : sport, gaming, événementiel, business, théâtre, cuisine… Une association te correspond forcément ! Alors n’hésite plus et va prendre du bon temps avec des gens partageant les mêmes centres d’intérêt que toi.
                </p>
            </div>
        </div>
        <div class="home-about__img">
            <img src="{{ asset('build/images/home-wide.png') }}" alt="Image associations">
        </div>
        <div class="home-about__content">
            <div class="home-about__content-number">
                <p>58000</p>
                <p>m&sup2; de locaux</p>
            </div>
            <div class="home-about__content-text">
                <p>Au Pôle, nous avons la chance d’avoir un campus à l’américaine avec près de 58 000m2 de locaux ! De nombreuses salles et équipements sont à ta disposition si tu veux t’amuser ou créer le prochain Go-Go Gadget… De plus, avec l’arrivée des nouveaux locaux à quelques pas du pôle actuel, le champ des possibles va certainement encore s’élargir !
                </p>
            </div>

        </div>
        <div class="home-about__content">
            <div class="home-about__content-number">
                <p>300</p>
                <p>partenaires</p>
            </div>
            <div class="home-about__content-text">
                <p>Et donc pour faire tourner toutes ces assos, on a besoin de TOI ! Rejoins-nous dans cette aventure de malade, tu vas apprendre à gérer une équipe, démarcher des entreprises, organiser des événements, et évidemment découvrir des personnes incroyables qui vont devenir ta famille.
                </p>
            </div>

        </div>
    </section>
</main>

{% endblock %}
