{% extends 'base.html.twig' %}

{% block title %}Forum associatif - Pôle Universitaire Léonard de Vinci{% endblock %}

{% block body %}
<main class="home" id="home">
    <header>
        <div class="home-header-content">
            <div class="home-header-content-logo">
                <img src="{{ asset('build/images/logos/logo-devinci.png') }}" alt="Logo Devinci">
                <img src="{{ asset('build/images/logos/logo-emlv.png') }}" alt="Logo EMLV">
                <img src="{{ asset('build/images/logos/logo-esilv.png') }}" alt="Logo ESILV">
                <img src="{{ asset('build/images/logos/logo-iim.png') }}" alt="Logo IIM">
            </div>
            <div class="home-header-content-title">
                <h1>
                    Les associations étudiantes<br>
                    <span>du <span class="color-secondary bold">pôle Léonard de Vinci</span></span>
                </h1>
            </div>

                <a href="#" class="button-link"><i class="fab fa-discord"></i>Rejoindre le discord</a>

        </div>
        <div class="home-header-image">
                <img src="{{ asset('build/images/home-header.png') }}" alt="Associations pôle universitaire Léonard de Vinci">
        </div>
    </header>
    <section class="home-theme">
        <h2>Des associations aux <span class="color-secondary">thématiques variées</span></h2>
        <p class="subtitle">Par passion, par curiosité, une catégorie te correspond forcément&nbsp;!</p>
        <div class="home-theme__cat">
            <div class="home-theme__cat-card">
                <div>
                    <img src="{{ asset('build/images/icones/bde.png') }}" alt="Icone BDE">
                    <p>BDE & Clubs écoles</p>
                    <p>Fait vibrer les étudiants et rythme ton école&nbsp;!</p>
                    <a href="#" class="button-link small">Découvrir</a>
                </div>
            </div>
            <div class="home-theme__cat-card">
                <div>
                    <img src="{{ asset('build/images/icones/engagement.png') }}" alt="Icone Engagement">
                    <p>Engagement</p>
                    <p>Rend le monde meilleur et aide ceux qui peuvent l’être</p>
                    <a href="#" class="button-link small">Découvrir</a>
                </div>
            </div>
            <div class="home-theme__cat-card">
                <div>
                    <img src="{{ asset('build/images/icones/business.png') }}" alt="Icone Business">
                    <p>Business</p>
                    <p>Valorise ton profil professionnel grâce à la vie étudiante&nbsp;!</p>
                    <a href="#" class="button-link small">Découvrir</a>
                </div>
            </div>
            <div class="home-theme__cat-card">
                <div>
                    <img src="{{ asset('build/images/icones/technologie.png') }}" alt="Icone Technologie">
                    <p>Technologie</p>
                    <p>Tu es bricoleur, fan d’aviation ou d’automobile&nbsp;?</p>
                    <a href="#" class="button-link small">Découvrir</a>
                </div>
            </div>
            <div class="home-theme__cat-card">
                <div>
                    <img src="{{ asset('build/images/icones/multimedia.png') }}" alt="Icone Multimédia">
                    <p>Multimédia</p>
                    <p>Le coin des passionnés : photos, esport, jeux vidéo&nbsp;!</p>
                    <a href="#" class="button-link small">Découvrir</a>
                </div>
            </div>
            <div class="home-theme__cat-card">
                <div>
                    <img src="{{ asset('build/images/icones/sport.png') }}" alt="Icone Sports">
                    <p>Sports</p>
                    <p>Tout seul on va vite, ensemble on va plus loin</p>
                    <a href="#" class="button-link small">Découvrir</a>
                </div>
            </div>
            <div class="home-theme__cat-card">
                <div>
                    <img src="{{ asset('build/images/icones/art.png') }}" alt="Icone Art & Culture">
                    <p>Art & Culture</p>
                    <p>Tu aimes le dessin, le théâtre ou la musique&nbsp;?</p>
                    <a href="#" class="button-link small">Découvrir</a>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
