{% extends 'base.html.twig' %}

{% block title %}Associations - Forum Associatif{% endblock %}
{% block bodyclass %}associations-single{% endblock %}
{% block body %}
<main class="associations" id="associations">
    <h1>Toutes les associations du Pôle Léonard de Vinci</h1>
    <p class="subtitle">Retrouve ici la liste de toutes les associations du pôle, une d’entre elle te correspond forcément !</p>

    <section class="associations-details">
        {% for category in categories %}
        <div class="associations-details__item">
            <details>
                <summary>
                    <span>
                        {{category.name}}
                        <span>
                        {% if category.associations|length < 2 %}
                            {{ category.associations|length }} <span>association</span>
                        {% else %}
                            {{ category.associations|length }} <span>associations</span>
                        {% endif %}
                        </span>
                    </span>

                </summary>

                {% for association in category.associations %}
                    <a href="{{ path('association', {slug: association.slug}) }}">
                        <img src="{{ asset('uploads/' ~ association.slug ~ '/logos/' ~ association.logo ~ '') }}" alt="Logo de l'association {{ association.name }}">
                        {{association.name}} <span>{{association.catchphrase}}</span>
                    </a>
                {% endfor %}
            </details>
        </div>
        {% endfor %}
    </section>

        <h3></h3>


</main>



{% endblock %}
