{% extends 'base.html.twig' %}

{% block title %}{{association.name}} - Forum Associatif{% endblock %}

{% block body %}

<h1>ICI LISTING ASSOS</h1>

        <li>{{association.name}}</li>
        <li>{{association.logocolor}}</li>
        <li>{{association.catchphrase}}</li>
        <li>{{association.description}}</li>
        <li>{{association.profiletype}}</li>

{% endblock %}
