{% extends 'base.html.twig' %}

{% block title %}{{association.name}} - Forum Associatif{% endblock %}
{% block bodyclass %}associations-single{% endblock %}
{% block body %}
    <header>
        {% if banner != 'default' %}
            <img src="{{ asset('uploads/' ~ association.slug ~ '/banners/' ~ banner ~ '') }}" alt="Bannière de présentation de {{ association.name }}">
        {% else %}
            <img src="{{ asset('build/images/default/banner-default.png') }}" alt="Bannière de présentation par défaut">
        {% endif %}
        <div class="associations-single__title">
            <div>
                <h1>{{association.name}}</h1>
                {% if association.catchphrase is not empty %}
                    <p class="subtitle">{{association.catchphrase}}</p>
                {% endif %}
                {% if association.status is not empty %}
                    <p class="category">{{association.status}}</p>
                {% endif %}
            </div>
            <div>
                {% if logo != 'default' %}
                    <img src="{{ asset('uploads/' ~ association.slug ~ '/logos/' ~ logo ~ '') }}" alt="Logo de l'association {{ association.name }}">
                {% else %}
                    <img src="{{ asset('build/images/default/logo-default.png') }}" alt="Bannière de présentation par défaut">
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        {% if association.description is not empty %}
        <div class="associations-single__bloc">
            <div class="info">
                <div>
                    <i class="fas fa-info"></i>
                    <p>Tu veux en savoir plus ?</p>
                </div>
            </div>
            <div class="content">
                <p>{{association.description}}</p>
            </div>
        </div>
        {% endif %}
        {% if video != 'empty' %}
        <div class="associations-single__bloc">
            <div class="info">
                <div>
                    <i class="fas fa-camera-retro"></i>
                    <p>La vidéo de présentation</p>
                </div>
            </div>
            <div class="content">
                <video controls>
                    <source src="{{ asset('uploads/' ~ association.slug ~ '/videos/' ~ video ~ '') }}" type="video/mp4">
                </video>
            </div>
        </div>
        {% endif %}

        {% embed "components/cta-banner__cover.html.twig" with {'external': true, 'singleAsso': true} %}
            {% block icone %}<i class="far fa-paper-plane"></i>{% endblock %}
            {% block title %}L’association recrute !{% endblock %}
            {% block text %}Rejoins-nous dès maintenant !{% endblock %}
            {% block url %}https://discord.gg/X77ztWs{% endblock %}
            {% block urltext %}Postuler{% endblock %}
        {% endembed %}

        {% if association.projects is not empty %}
        <div class="associations-single__bloc">
            <div class="info">
                <div>
                    <i class="fas fa-tasks"></i>
                    <p>Les projets de l'asso</p>
                </div>
            </div>
            <div class="content">
                <p>{{association.projects | nl2br}}</p>
            </div>
        </div>
        {% endif %}
        {% if association.profiletype is not empty %}
        <div class="associations-single__bloc">
            <div class="info">
                <div>
                    <i class="fas fa-user-friends"></i>
                    <p>Les profils qu'on recherche</p>
                </div>
            </div>
            <div class="content">
                <p>{{association.profiletype | nl2br}}</p>
            </div>
        </div>
        {% endif %}
        {% if association.email is not empty %}
        <div class="associations-single__bloc">
            <div class="info">
                <div>
                    <i class="fas fa-comments"></i>
                    <p>Prend contact avec nous</p>
                </div>
            </div>
            <div class="content social-links">
                <a href="mailto:{{ association.email }}"><i class="fas fa-envelope"></i> {{ association.email }}</a>
                {% if association.facebook is not empty %}
                    <a href="{{ association.facebook }}"><i class="fab fa-facebook-square"></i> Facebook</a>
                {% endif %}
                {% if association.instagram is not empty %}
                    <a href="{{ association.instagram }}"><i class="fab fa-instagram-square"></i> Instagram</a>
                {% endif %}
                {% if association.discord is not empty %}
                    <a href="{{ association.discord }}"><i class="fab fa-discord"></i> Discord</a>
                {% endif %}
                {% if association.youtube is not empty %}
                    <a href="{{ association.youtube }}"><i class="fab fa-youtube-square"></i> Youtube</a>
                {% endif %}
                {% if association.twitch is not empty %}
                    <a href="{{ association.twitch }}"><i class="fab fa-twitch"></i> Twitch</a>
                {% endif %}
                {% if links != 'empty' %}
                    <div class="links">
                        <i class="fas fa-search-plus"></i>
                        <div>
                            {% for link in links %}
                                <a href="{{ link }}">{{ link }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if images != 'empty' %}
        <div class="associations-single__bloc">
            <div class="info">
                <div>
                    <i class="fas fa-images"></i>
                    <p>Galerie photos</p>
                </div>
            </div>
            <div class="content galerie">
                {% for image in images %}
                    <div class="galerie-image">
                        <a href="{{ asset('uploads/' ~ association.slug ~ '/images/' ~ image ~ '') }}"  class="glightbox" data-gallery="gallery1">
                            <img src="{{ asset('uploads/' ~ association.slug ~ '/images/' ~ image ~ '') }}" alt="Galerie - Image {{ association.name }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </main>
{% endblock %}
