{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mon mot de passe - Forum associatif{% endblock %}
{% block bodyclass %}login-page{% endblock %}
{% block body %}
    <main>
        <div class="login-page__content">
           <div>
               <h1>Changez votre mot de passe !</h1>
               <form method="post">
                   {{form_start(form)}}

                   <div class="form-field">
                       {{ form_row(form.password) }}
                   </div>
                   <div class="form-field">
                       {{ form_row(form.new_password_confirm) }}
                   </div>


                   <button class="button-link small">{{ button_label|default('Enregistrer') }}</button>
                   {{form_end(form)}}
               </form>
           </div>
            <div>
                <img id="login-logo" src="{{ asset('uploads/' ~ app.user.slug ~ '/logos/' ~ app.user.logo ~ '') }}" alt="Logo {{ app.user.name }}">
            </div>
        </div>


    </main>

{% endblock %}
