{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe - Forum associatif{% endblock %}
{% block bodyclass %}login-page{% endblock %}
{% block body %}
    <main>
        <div class="login-page__content">
           <div>

               <h1>Changez votre mot de passe !</h1>
               {% if not form.vars.valid %}
                   <div class="error">
                       <ul>
                           {# Loop through every form item #}
                           {% for child in form.children %}
                               {# Display the errors of the form item #}
                               {%for error in child.vars.errors%}
                                   <li>{{error.message}}</li>
                               {%endfor%}
                           {%endfor%}
                       </ul>
                   </div>
               {% endif %}
               {{form_start(form)}}

               <div class="form-field">
                   {{ form_label(form.password) }}
                   <div>
                       {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                   </div>
               </div>
               <div class="form-field">
                   {{ form_label(form.new_password_confirm) }}
                   <div>
                       {{ form_widget(form.new_password_confirm, {'attr': {'class': 'form-control'}}) }}
                   </div>
               </div>


               <button class="button-link small">{{ button_label|default('Enregistrer') }}</button>
               {{form_end(form)}}
           </div>
            <div>
                {% if app.user.logo != null %}
                    <img src="{{ asset('uploads/' ~ app.user.slug ~ '/logos/' ~ app.user.logo ~ '') }}" alt="Logo de l'association {{ app.user.name }}">
                {% else %}
                    <img id="login-logo" src="{{ asset('white/forum.png') }}" alt="Logo forum asso">
                {% endif %}
            </div>
        </div>


    </main>

{% endblock %}
