{% extends 'base.html.twig' %}

{% block title %}{{category.name}} - Forum Associatif{% endblock %}
{% block bodyclass %}category{% endblock %}
{% block body %}

    <header style='background-image: url({{ asset('build/images/cat-bg/' ~ category.slug ~'.png') }});'>
        <h1>{{ category.name }}</h1>
        <p>{{ category.description }}</p>
    </header>

    <main>
        <div class="category-settings">
            <span>
            {% if category.associations|length < 2 %}
                {{ category.associations|length }} <span>association</span>
            {% else %}
                {{ category.associations|length }} <span>associations</span>
            {% endif %}
            </span>
            <div class="category-sort">
                <a href="/categories/{{ category.slug }}?sort=ASC">De A à Z</a>
                <a href="/categories/{{ category.slug }}?sort=DESC">De Z à A</a>
            </div>
        </div>

            {% for association in associations %}
                <div class="category__card{% if association.thumbnail is empty %} no-img{% endif %}">
                    {% if association.thumbnail is not empty %}
                    <img src="{{ asset(association.thumbnail) }}" alt="Image mise en avant de l'association {{ association.name }}">
                    {% endif %}
                    <div>
                        <h2>{{association.name}}</h2>
                        <p>{{association.description}}</p>
                        <a href="{{ path('association', {slug: association.slug}) }}" class="button-link small">En savoir +</a>
                    </div>
                </div>
            {% endfor %}
    </main>
    <section>
        <div class="special-title">
            <p>Pour continuer</p>
        </div>
        <p>Découvre d’autres associations en parcourant les différentes catégories !</p>
        {% include 'layouts/cat-blocs.html.twig' %}
        <p>Et si tu n’arrives pas à choisir ou préfères avoir <span class="bold color-secondary">une vue d’ensemble des 58 associations</span></p>
        <a href="/associations" class="button-link">Découvre toutes les associations</a>
    </section>
    {% include "components/button-up-page.html.twig" %}
{% endblock %}
